.pageChanging1
{
	position:relative;
	width:5vw;
	color:white;
	text-align:center;
	float:left;
	top:2vh;
	background:black;
	opacity:0.5;
}
.pageChanging2
{
	width:5vw;
	color:white;
	text-align:center;
	margin-left:95%;
	float:right;
}
.pageChanging3
{
	width:5vw;
	color:white;
	text-align:center;
	margin-right:95%;
	float:left:
}
.pageChanging4
{
	position:relative;
	width:5vw;
	color:white;
	text-align:center;
	background:black;
	opacity:0.5;
	margin-left:94%;
	
}
a
{
	color:white;
	
}
#grillemenu
{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom:1px;
	margin-left:1px;
	display:grid;
	grid-template-columns: 1fr 6fr;
	grid-template-rows: 3fr 20fr 3fr;
	height: 97vh;
	width: 97vw;
	background-color:black;
}
#headerStyle
{
	color:white;
	padding:1%;
	grid-column: 1 / 6;
	grid-rows: 1 / 3;
	background-image: url("image/background.jpg");
	
	
}
#footerstyle
{
	color:white;
	grid-column: 1 / 6;
	grid-rows: 23 / 25;
	background-image: url("image/background.jpg");
}
#mainStyle
{
	color:white;
	grid-column: 2 / 6;
	grid-rows: 3 / 22;
	grid-row-gap:5%;
	background-color:black;
	background-size: no-repeat;
}
#NavStyle
{
	text-align:center;
	color:white;
	grid-column: 1 / 2;
	grid-rows: 3 / 22;
	background-image: url("image/backgroundmain.jpeg");
}
.navigation
{
	color:white;
	border: 1px solid white;
	padding:10%;
	margin: 5%;
	text-align:center;
}
.navigation:hover
{
	background-color:white;
	color:black;
}
#accueilpage1
{
	color:white;
	border: 1px solid white;
	padding:10%;
	margin: 5%;
	background:black;
	opacity:0.5;
}
#menuderoulant
{
	text-align:center;
	color:white;
	border: 1px solid white;
	margin: 5%;
	height: 25px;
	padding: 1%;
}
#menuderoulant:hover>#divenglobant
{
	display:block;
}
#divenglobant
{
	padding:5%;
	display:none;         
}
#lesjoueurspage1
{
	color:white;
	border: 1px solid white;
	padding:10%;
	margin: 5%;
	background:black;
	opacity:0.5;
}
#GalleriesMenu
{
	color:white;
	border: 1px solid white;
	padding:10%;
	margin: 5%;
	background:black;
	opacity:0.5;
}
#mini-text
{
	text-align:center;
}
.imagemain
{
	margin-left:45%;
}
.imagemain1
{
	margin-left:40%;
}

#textepageaccuiel
{
	margin-left:45%;
	font-size:200%;
	color:#666666;
}
#textepageaccuiel::first-letter
{
	color:white;
}
#textepageaccuie::last-letter
{
	color:white;
}
.other-color
{ 
    color:white;	
}
#TextPrésentationMilky
{
	text-align:center;
	
}
#green-color-choco
{
	color:green;
}
.grey-milkyway
{
	color:#666666;
}
#orange-color-choco
{
	color:orange;
}
.Titre
{
	font-size:200%;
	color:white;
	text-align:center;
	 text-shadow: 2px 2px #666666
}
.joueur-name
{
	font-size:250%;
	margin-left:1%;
}
.joueur-name-impair
{
	font-size:250%;
	margin-left:53%;
	margin-top:8%;
}
.joueur-text
{
	color:#F0FFF0;
	margin-left:4%;
	font-size:115%;
}
.joueur-textimpair
{
	color:#F0FFF0;
	font-size:115%;
}
.iframe
{
   float:right;
   margin-right:5%;
}
#color-morpheo
{
	color:#8B0000;
}
.iframeimpaire
{
	float:left;
	margin-left:6%;
}
#black-color-agent
{
	color:#303030;
}
#color-andy
{
	color:yellow;
}
#purple-color-ari
{
	color:DarkMagenta;
}
#pink-color-ari
{
	color:#ff99c2;
}
#color-artisse
{
	color:#6A5ACD;
}
#color-chaos
{
	color:lime;
}
#color-ludo
{
	color:cyan;
}
#color-nuutzy
{
	color:red;
}
#color-pierre
{
	color:orange;
}
#color-sheep
{
	color:LightPink;
}
#color-raistlin
{
	color:Darkviolet;
}
#blue-color-sixela
{
	color:blue;
}
#yellow-color-sixela
{
	color:yellow;
}
#color-yuke
{
	color:yellow;
}
#color-bas
{
	color:Darkgreen;
}
#color-exe
{
	color:lightGreen;
}
#color-nox1
{
	color:GoldenRod
}
#color-nox2
{
	color:brown;
}
#color-sky
{
	color:deepskyblue;
}
.divmapper
{
   float:right;
   margin-right:5%;
}
.slider-holder
        {
            width: 600px;
            height: 400px;
            background-color: yellow;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            overflow: hidden;
        }
       
.image-holder
        {
            width: 4800px;
            height: 400px;
            clear: both;
            position: relative;
           
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;
        }
       
.slider-image
        {
			width:600px;
			height:400px;
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
        }
       
#slider-image-1:target ~ .image-holder
        {
            left: 0px;
        }
       
#slider-image-2:target ~ .image-holder
        {
            left: -600px;
        }
       
#slider-image-3:target ~ .image-holder
        {
            left: -1200px;
        }
#slider-image-4:target ~ .image-holder
        {
            left: -1800px;
        }
#slider-image-5:target ~ .image-holder
{
            left: -2400px;
}
#slider-image-6:target ~ .image-holder
{
            left: -3000px;
}
#slider-image-7:target ~ .image-holder
{
            left: -3600px;
}
#slider-image-8:target ~ .image-holder
{
            left: -4200px;
}

.button-holder
        {
            position: relative;
            top: -20px;
        }
       
.slider-change
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: brown;
        }	
		
/*---------------------------------------------------------------*/		
		
#slider-image-9:target ~ .image-holder2
{
            left: 0px;
}
#slider-image-10:target ~ .image-holder2
{
            left: -600px;
}
.slider-holder2
        {
            width: 600px;
            height: 400px;
            background-color: yellow;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            overflow: hidden;
        }
       
.image-holder2
        {
            width:  1200px;
            height: 400px;
            clear: both;
            position: relative;
           
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;
        }
       
.slider-image2
        {
			width:600px;
			height:400px;
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
        }
.button-holder2
        {
            position: relative;
            top: -20px;
        }
       
.slider-change2
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: brown;
        }
		
		
		
 #slider-image-11:target ~ .image-holder3
{
            left: 0px;
}
#slider-image-12:target ~ .image-holder3
{
            left: -600px;
}
#slider-image-13:target ~ .image-holder3
{
            left: -1200px;
}
#slider-image-14:target ~ .image-holder3
{
            left: -1800px;
}
#slider-image-15:target ~ .image-holder3
{
            left: -2400px;
}
#slider-image-16:target ~ .image-holder3
{
            left: -3000px;
}
#slider-image-17:target ~ .image-holder3
{
            left: -3600px;
}
#slider-image-18:target ~ .image-holder3
{
            left: -4200px;
}
.slider-holder3
        {
            width: 600px;
            height: 400px;
            background-color: yellow;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            overflow: hidden;
        }
       
.image-holder3
        {
            width:  4800px;
            height: 400px;
            clear: both;
            position: relative;
           
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;
        }
       
.slider-image3
        {
			width:600px;
			height:400px;
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
        }
.button-holder3
        {
            position: relative;
            top: -20px;
        }
       
.slider-change3
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: brown;
        }
		
		
		
		
		
#slider-image-19:target ~ .image-holder4
{
            left: 0px;
}
#slider-image-20:target ~ .image-holder4
{
            left: -600px;
}
#slider-image-21:target ~ .image-holder4
{
            left: -1200px;
}
#slider-image-22:target ~ .image-holder4
{
            left: -1800px;
}
#slider-image-23:target ~ .image-holder4
{
            left: -2400px;
}
#slider-image-24:target ~ .image-holder4
{
            left: -3000px;
}
#slider-image-25:target ~ .image-holder4
{
            left: -3600px;
}
.slider-holder4
        {
            width: 600px;
            height: 400px;
            background-color: yellow;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            overflow: hidden;
        }
       
.image-holder4
        {
            width:  4200px;
            height: 400px;
            clear: both;
            position: relative;
           
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;
        }
       
.slider-image4
        {
			width:600px;
			height:400px;
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
        }
.button-holder4
        {
            position: relative;
            top: -20px;
        }
       
.slider-change4
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: brown;
        }
		
#tablegallerie
{
	border-spacing:50%;
	color:white;
	padding:5%;
}
td
{
	text-align:center;
}
#lasttd
{
   position:relative;
   left:50%;
}



@media screen and (max-width:600px)
{
	.iframe
   {
      margin-left:4%;
   }
   .iframeimpaire
  {
	margin-left:6%;
  }
   p
   {
	   margin-left:4%;
   }
   
}



 
 